.dashboard {
  min-height: 100vh;
  padding: 30px;
  background: linear-gradient(120deg, #0f2027, #203a43, #2c5364);
  color: white;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 12px;
  width: 400px;
  margin-bottom: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.risk {
  background: #1e293b;
  padding: 20px;
  border-radius: 12px;
  width: 300px;
  text-align: center;
}
